{% extends "base.html" %}
<!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url('/static/about-bg.png')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>The purpose of this blog is to keep track of technical related things that I learn. I'm trying learn some new every day so I think it's a good idea to set up a blog and 'force' my self to post my learning everyday or within a period. Feel free to add a post to keep track of your technical related learning!</p>
      <p>I recently graduated from the University of Waterloo and I'm looking for a Software Engineer or Data Scientist job! During the past few months, I have been working on 3 projects that are related to Full-Stack Development and Data Science which include a message board, a tech blog and a video captioner. Please check out my GitHub (https://github.com/kaooooru) to see the code.</p>
    </div>
  </div>
</div>

<hr>
{% endblock %}


